<%= form_for(@reservation) do |f| %>
    <% if @reservation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

          <ul>
            <% @reservation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :trip_id %>
      <br/>
      <%= f.number_field :trip_id %>
    </div>
    <div class="field">
      <%= f.label :passenger_id %>
      <br/>
      <%= f.number_field :passenger_id %>
    </div>
    <div class="field">
      <%= f.label :seat %>
      <br/>
      <%= f.number_field :seat %>
    </div>
    <div class="field">
      <%= f.label :is_accepted %>
      <br/>
      <%= f.check_box :is_accepted %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
